/*
ðŒðšð¢ð§ ð‚ð’ð’
*/

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

html {
    font-size: 14px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Campton Book', sans-serif;
    font-size: 14px;
    height: 100%;
    max-width: 100%;

    /*text-rendering: optimizeLegibility;*/
}

.title-font {
    font-family: 'GTSectraDisplay', serif;
    font-weight: bold;
    color: #262626;
}

.outermost_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
}

a:focus, button:focus {
    outline: none !important;
    border: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}





/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.bg-light {
    background-color: transparent !important;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

img.nav_logo {
    display: inline-block;
    width: 155px;
    height: 88px;
}

ul.da_navbar {
    top: 5px;
    z-index: 7;
}

li.nav-item {
    margin-right: 22px;
}

li.nav-item a {
    font-family: 'Campton Book', sans-serif;
    font-size: 1.143rem;
    font-weight: normal;
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {color: #ffffff;}

li.nav-item > a:after {
    content: '';
    display: block;
    height: 2px;
    background: #9B1C32;
    transform: scaleX(0);
    transition: transform .3s;
}
li.nav-item > a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}
.active {
    color: #9B1C32 !important;
}

/* Hamburger menu animation assets */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {background: #f5f5f5;}

.animated-icon1 span:nth-child(1) {top: 0;}

.animated-icon1 span:nth-child(2) {top: 10px;}

.animated-icon1 span:nth-child(3) {top: 20px;}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.navbar-light .navbar-toggler {border: none !important;}
.navbar-toggler:focus {box-shadow: none !important;}

.dimmer {
    filter: brightness(0.2);
}





/* ============= */
/* =========== HEADER =========== */
/* ============= */

.da_header_area {
    min-height: 700px;
    height: auto;
    width: 100%;
}

.carousel {padding: 0;}

.da_header_slider {
    padding: 0;
}

.daslide {
    width: 100%;
    height: 700px;
}

.daslide:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
}

.h_banner {
    display: block;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 250px;
    z-index: 2;
}

.h_banner h1 {
    font-family: 'GTSectraDisplay', serif;
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 1.1;
    color: #ffffff;
    text-align: center;
    margin-bottom: 22px;
}

.h_banner h2 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.main_cta_button_holder {
    padding-top: 36px;
}

button.explore_more_cta_btn {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3.3;
    width: 205px;
    height: 55px;
    background-color: #9B1C32;
    border-radius: 2px;
    color: #ffffff;
    box-shadow: 0 2px 134px 0 rgba(0,0,0,0.50);

    transition: all 0.4s ease-in-out;
}

button.explore_more_cta_btn:hover {
    background-color: #84192a;
    color: #ffffff;
}

button.explore_more_cta_btn:focus {
    box-shadow: none;
}

.dimmer {
    filter: brightness(0.2);
}




/* ============= */
/* =========== WHAT WE DO =========== */
/* ============= */

.whatwedo_area {
    position: relative;
    z-index: 5;
    min-height: 1040px;
    height: auto;
    background: #fefefe;
    padding-top: 75px;
    padding-bottom: 80px;
    overflow: hidden;
}

h2.section_title {
    font-family: "GTSectraDisplay", serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #262626;
}

span.title_deco {
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 4px;
    background: #9B1C32;
    position: relative;
    top: -12px;
}

.section_txt_holder {
    padding-top: 55px;
    display: block;
    width: 70%;
    margin: 0 auto;
}

article.centered_text {
    text-align: center;
}

article.centered_text p {
    font-family: "Campton Book", sans-serif;
    font-size: 1.143rem;
    color: #262626;
    margin-bottom: 22px;
}

article.centered_text p a {
    color: #9B1C32;
    text-decoration: none;
}

.two_services_holder {
    position: relative;
    z-index: 5;
    padding-top: 55px;
    width: 75%;
    margin: 0 auto;
}

.servicebox {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 9px 26px -9px rgba(0,0,0,0.19);
    border-radius: 2px;
    padding: 32px;
    min-height: 505px;
    height: auto;
}

.diricon {
    position: relative;
    display: inline-block;
    height: 86px;
    width: 100%;
    margin-top: 22px;
}

.question_holder {
    padding-top: 26px;
}

h4.servicebox_question {
    display: block;
    text-transform: uppercase;
    font-size: 1.286rem;
    font-family: "Campton", sans-serif;
    font-weight: bold;
    color: #666666;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 0;
}

h4.servicebox_question.thin {
    display: block;
    text-transform: uppercase;
    font-size: 1.286rem;
    font-family: "Campton Book", sans-serif;
    font-weight: 100;
    color: #666666;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 0;
}

.servicebox_txt {
    padding-top: 32px;
    text-align: center;
    /*min-height: 180px;*/
    /*height: auto;*/
    /*text-overflow: ellipsis;*/
    /*white-space: normal;*/
}

.servicebox_txt p {
    font-family: "Campton Book", sans-serif;
    font-size: 1.143rem;
    color: #262626;
    margin-bottom: 22px;
    min-height: 210px;
    height: auto;
}

.servicebox_button_holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 28px;
    width: 100%;
    text-align: center;
}

.servicebox_btn {
    width: 252px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 2px;
    color: #ffffff;
    transition: all 0.4s ease-in-out;
}

.servicebox_btn.owner_btn {
    background-color: #9B1C32;
    color: #ffffff;
}
.servicebox_btn.owner_btn:hover {
    background-color: #84192a;
    color: #ffffff;
}

.servicebox_btn.dir_btn {
    background-color: #3B1F6F;
    color: #ffffff;
}
.servicebox_btn.dir_btn:hover {
    background-color: #2a1552;
    color: #ffffff;
}

.fog {
    position: absolute;
    z-index: 0;
    right: -45%;
    bottom: 0;
    height: 365px;
    width: 100%;
    background: url('../img/fog.png') no-repeat;
    background-size: contain;
}

.stone_angel_one {
    position: absolute;
    z-index: -1;
    right: -66%;
    bottom: -10px;
    height: 537px;
    width: 100%;
    opacity: 0.1;
    background: url('../img/stone_angel_1.png') no-repeat;
    background-size: contain;
}





/* ============= */
/* =========== STATS =========== */
/* ============= */

.stats_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 560px;
    height: auto;
    background: url("../img/stats_bgd.png") center center no-repeat;
    background-size: cover;
}

.stat_item_outermost {
    padding-left: 22px;
    padding-right: 22px;
}

.statbox {
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    height: 335px;
    padding: 22px;
    color: #ffffff;
}

.statbox:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #9B1C32;
    mix-blend-mode: multiply;
}

.stat_item {
    position: relative;
    z-index: 3;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.stat_item h1 {
    font-family: "GTSectraDisplay", serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 3.7rem;
}

hr.stat_h_separ {
    height: 1px;
    width: 100%;
    opacity: 1;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.04385504201680668) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.04) 100%);
}

.stat_item h6 {
    height: 30px;
}





/* ============= */
/* =========== TESTIMONIALS =========== */
/* ============= */

.testimonials_area {
    position: relative;
    z-index: 0;
    min-height: 810px;
    height: auto;
    background: #F6F8FF;
    padding-top: 75px;
    padding-bottom: 65px;
}

.testimonials_holder {
    position: relative;
    z-index: 10;
    padding-top: 85px;
}

.slick-dotted.slick-slider {
    padding-left: 36px;
}

.slick-prev:before, .slick-next:before {
    font-size: 22px;
    color: #999999 !important;
}

.slick-dots {
    left: 0;
}


.t_slide {
    position: relative;
    z-index: 3;
    height: 410px;
    width: 90% !important;
    padding: 28px 26px 32px 26px;
    border-radius: 2px;
    margin-bottom: 50px;
    background: #FFFFFF;
    /*box-shadow: 0 9px 26px 0 rgba(0,0,0,0.08);*/
}

ul.rating {
    display: table;
    margin: 0 auto;
    padding: 0;
}

ul.rating li {
    list-style-type: none;
    float: left;
    margin-right: 3px;
}

ul.rating li:last-child {
    margin-right: 0;
}

ul.rating li i {
    font-size: 1rem;
    color: #9B1C32;
}

.slick-dots li button:before {
    font-size: 9px !important;
}

article.testimonials_txt {
    text-align: center;
    padding-top: 22px;
    clear: both;
    height: 290px;
    text-overflow: ellipsis;
}

article.testimonials_txt p {
    font-family: "Campton Book", sans-serif;
    font-size: 1.143rem;
    color: #262626;
    margin-bottom: 22px;
}

span.quote i {
    font-size: 5.8rem;
    color: #999999;
    opacity: 0.1;
    position: absolute;
    right: 26px;
    bottom: 22px;
}

.name_and_location_holder {
    text-align: center;
}

h5.name {
    font-size: 1.143rem;
    font-weight: bold;
    text-align: center;
    color: #999999;
    margin-bottom: 1px;
}

h5.location {
    font-family: "Campton Book", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #999999;
}





/* ============= */
/* =========== FOOTER =========== */
/* ============= */

footer.da_footer {
    padding-top: 55px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    min-height: 345px;
    height: auto;
    background: #262626;
}

.footer_angel {
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 390px;
    left: 0;
    bottom: 0;
    background: url('../img/stone_angel_2.png') no-repeat;
    background-size: contain;
    mix-blend-mode: multiply;
    opacity: 0.116;
}

img.footerlogo {
    display: inline-block;
    width: 100%;
    height: 52px;
}

.footer_nav_holder {
    padding-top: 50px;
}

.footer_nav {
    position: relative;
    z-index: 10;
    padding-left: 50px;
}

hr.footer_separ {
    height: 1px;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    opacity: 1;
    background: rgb(155,28,50);
    background: linear-gradient(90deg, rgba(155,28,50,0.03265056022408963) 0%, rgba(155,28,50,1) 50%, rgba(155,28,50,0.03265056022408963) 100%);
}

.footer_socials_holder {
    display: inline-block;
    padding-top: 6px;
}

ul.footer_socials {
    position: relative;
    z-index: 10;
    display: table;
    margin: 0 auto;
}

ul.footer_socials li {
    list-style-type: none;
    float: left;
    margin-right: 24px;
}

ul.footer_socials li:last-child {
    margin-right: 0;
}

ul.footer_socials li a {
    font-size: 1.4rem;
    color: #ffffff;
    transition: 0.4s all ease-in;
}

ul.footer_socials li a:hover {
    color: #f5f5f5;
}

.footer_notes_holder {
    display: inline-block;
    text-align: center;
    padding-top: 14px;
    margin-bottom: 22px;
}

.footer_notes_holder small {
    font-family: "Campton", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}









